
<div id="home_main">
	<div id="home_main_left">
		<img src="heads_logo.png"></img>
		<p><h1>Head2Head</h1></p>
		<p><h3>A test of perception and telepathic powers</h3></p>
		<p>Rate things. Then guess what your friends are thinking.  Earn points for perceptiveness. </p>


	</div>
	
</div>





