<!DOCTYPE html>
<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
	<link type="text/css" rel="stylesheet" href="/styles.css">
	<title>Head to Head! <%= "#{@page_name}" %></title>
</head>
<body>




<div id="header">
	<nav>
		<ul>
			<li> <a href="/">Home</a> </li>
			<li> <a href="/login">Log In</a> </li>
			<li> <a href="/signup">Sign Up</a> </li>
			<li> <a href="/concept">Rate</a> </li>
			<li> <a href="/guess">Guess</a> </li>
			<li> <a href="/leaderboard">Leaderboard</a> </li>
			<li> <a href="/clear">Log Out</a> </li>
		</ul>
	</nav>
</div>


<div id="main">


	<%= yield %>
</div>
</body>
</html>

