<form action="/signup" method="post">

  <% if @user.present? && @user.errors.any? %>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  <% end %>




  <div>
    <label>Name</label>
    <input type="text" name="name" placeholder="Name" />
  </div> <br>
  <div>
      <label>Email</label>
    <input type="text" name="email" placeholder="Email" />
  </div> <br>
  <div>
    <label>Password</label>
    <input type="password" name="password" placeholder="Password" />
  </div>  <br>

  <div>
    <label>Group</label>
      <input type="radio" name="group" value="Rivadeneiras"> Rivadeneiras<br>
      <input type="radio" name="group" value="Wdi"> WDI<br>
      <input type="radio" name="group" value="DC Friends"> DC Friends<br>
      <input type="radio" name="group" value="Sankalpita"> Sankalpita<br>

  </div> <br>

  
  <div>
    <input type="submit" value="Sign Up!" />
  </div>
</form>